name: Publish pages
concurrency: "pages"

on:
  push:
    tags:
      - 'html-query-*'

jobs:
  # Build job
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Install Rust
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          override: true
      - name: Install WASM
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          target: wasm32-unknown-unknown
      - uses: Swatinem/rust-cache@v2
      - name: Install tools
        shell: bash
        run: cargo install dioxus-cli
      - name: Build debug
        if: ${{ !startsWith(github.ref, 'refs/tags/') }}
        shell: bash
        run: dioxus build
      - name: Build Release
        if: startsWith(github.ref, 'refs/tags/')
        shell: bash
        run: dioxus build --release

      - name: Upload artifact
        if: startsWith(github.ref, 'refs/tags/')
        uses: actions/upload-pages-artifact@v1
        with:
          path: ./html-query-web-ui/dist/

  # Deploy job
  deploy:
    # Add a dependency to the build job
    needs: build
    if: startsWith(github.ref, 'refs/tags/')

    # Grant GITHUB_TOKEN the permissions required to make a Pages deployment
    permissions:
      pages: write      # to deploy to Pages
      id-token: write   # to verify the deployment originates from an appropriate source

    #    # Deploy to the github-pages environment
    #    environment:
    #      name: github-pages
    #      url: ${{ steps.deployment.outputs.page_url }}

    # Specify runner + deployment step
    runs-on: ubuntu-latest
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v1